@use 'index';

.tl-app {
  text-align: center;
}

.tl-header {
  width: 100%;
  background: fixed #03203C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    flex-direction: row;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        padding: 0 0.5rem;

        a {
          color: whitesmoke;
          text-decoration: none;
        }
      }
    }
  }
}