$font-family-1: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
              'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$base-color: rgb(204, 58, 131);
$header-color: #03203C;

body {
  margin: 0;
  font-family: $font-family-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-family-2;
}
